*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: Roboto, 'Times New Roman', Times, serif;
    max-width: 1500px;
    margin: 0 auto;
    background-color: black
}
/* header */
.header{
    background-color: #1F2937;
    color: white;
}
.outer{
    background-color: white;
}
.internal{
    
    width: 960px;
    margin: 0 auto;
    padding: 0 0 70px 0;
    justify-content: space-between;
    
}
.header .internal{
    display: flex;
}
.logo{
    width: 30px;
    padding: 20px;
    margin-bottom: 50px;}
.image-main{
    width: 420px;
}

.left-header{
    width: 450px;
}
.right-header{
    width: 450px;

}
.link-header{
    list-style: none;
    display: flex;
    margin-bottom: 70px;
    justify-content: space-evenly;
    padding-top:20px ;
}
.link-header li a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: 48px;
    columns: #f9faf8;
    font-weight: 900;
}
.description {
    font-size: 18px;
    margin-bottom: 20px;
    
}
button{
    color: white;
    background-color: #3882f6;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px 8px;
}
/* footer */
.footer{
    display: flex;
    justify-content: center;

    color: white;
    height: 100px;
    background-color: #1F2937;

}
.footer .internal{
    text-align: center;
}
.copy {
    margin: 0;
    position: relative;
    top: 50px;
  }
/* .copy{
    align-self: center;
} */
/* section 1 */
.section-one .internal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fields-images img{
    width: 200px;
    border-radius: 50px;
    
}
.fields-images, .fields-description{
    display: flex;
    justify-content: space-evenly;
}
.fields-description div{
    width: 200px;
    padding-bottom: 100px;
    padding-top: 20px;
}
.title-fields{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 40px 0;
}
/* section two */
.section-two {
    background-color: #e5e7eb;
}
.section-two .internal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 70px 0;
}
.qoute{
    font-size: 36px;
    color: #1F2937;
    
}
.author{
    font-size: 24px;
    font-weight: 900;
}
/* section 3 */

.section-three .internal{
    
    background-color:#3882f6;
    margin: 100px auto;
    border-radius: 20px;
}
.sign-up{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}
.sign-text{
    color: white;
}
.section-three .sign button{
    border: 1px white solid;
}